.advantages {
  margin-bottom: 2rem;

  &__content {
    width: 100%;
    height: max-content;
    border-radius: 3rem;
    position: relative;
  }

  &__slider {
    height: 100%;
  }

  &__slider-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    top: 7rem;
    right: 2rem;
    column-gap: .4rem;
    z-index: 2;

    @include breakpoint(tablet) {
      position: absolute;
      top: auto;
      bottom: 2rem;
    }
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 3.5rem;
    overflow: hidden;
    padding: 4rem var(--content-padding-two) 8rem;
    min-height: 55rem;

    @include breakpoint(tablet) {
      padding: 4rem var(--content-padding-two) 9.5rem;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 3.5rem;
  }

  &__slide-upper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    margin-bottom: 15rem;

    @include breakpoint(tablet) {
      row-gap: 4rem;
      margin-bottom: 4rem;
    }
  }

  &__slide-uppertitle {
    color: var(--white);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-p-t4);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: .1rem;
    text-transform: uppercase;

    @include breakpoint(tablet) {
      max-width: 25.5rem;
    }

    @include breakpoint(small-mobile) {
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: .2rem;
      text-transform: uppercase;
      width: 100%;
      max-width: 20.5rem;
    }
  }

  &__slide-title {
    color: var(--white);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h2);
    font-style: normal;
    font-weight: 500;
    line-height: 90%;

    @include breakpoint(tablet) {
      font-size: var(--fz-h5);
      font-style: normal;
      letter-spacing: 0;
    }

    @include breakpoint(tablet) {
      max-width: 30.5rem;
      text-wrap: wrap;
      word-wrap: break-word;
    }
  }

  &__slide-bottom {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 6rem;
    }
  }

  &__slide-info {
    display: flex;
    align-items: flex-start;
    column-gap: 5rem;

    @include breakpoint(tablet) {
      column-gap: 3rem;
    }
  }

  &__slide-list .text-wrapper {
    margin-bottom: 2.5rem;

    @include breakpoint(tablet) {
      margin-bottom: 1.5rem;
    }
  }
  
  &__slide-list-number {
    color: var(--white);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h3);
    font-style: normal;
    font-weight: 500;
    line-height: .9;
    letter-spacing: -.16rem;

    @include breakpoint(tablet) {
      font-family: "PP Pangram Sans Rounded";
      font-size: var(--fz-h5);
    }
  }

  &__slide-list-text {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 100%;
    max-width: 21.3rem;

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      font-style: normal;
      max-width: 14rem;
    }
  }

  &__slide-text {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t5);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: .02rem;

    width: 100%;
    max-width: 40.1rem;

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      line-height: 110%;
      max-width: 27.5rem;
    }
  }
}