.burger-modal {
  display: none;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  left: -.1rem;
  height: fit-content;

  @include breakpoint(laptop) {
    display: block;
  }

  &-inner {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .container {
    padding-top: 13rem;
    padding-bottom: 7rem;
    padding-right: max(env(safe-area-inset-right,1.4rem),2rem);
    padding-left: max(env(safe-area-inset-left,1.4rem),2rem);

    width: 100%;
    min-height: 95%;
    height: 100%;
    
    background-color: var(--black);
    border-radius: 0 0 3rem 3rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-height: 100vh;

    @include breakpoint(mobile) {
      padding-top: 10rem;
      padding-bottom: 5rem;
    }
  }
  
  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-bottom: 5rem;
  }
  
  &__nav-link {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t5);
    font-weight: 500;
    line-height: 1;
    letter-spacing: -2%;
    transition: .3s ease opacity;
    display: inline-block;
    width: fit-content;

    &:hover {
      opacity: .65;
    }
  }
  
  &__button-products {
    display: flex;
    align-items: center;
  }

  &__button-products-wrapper {
    margin-bottom: 5rem;
  }

  &__button-products > .burger-modal__button-text {
    background-color: var(--green-2);
    transition: .3s ease background-color;
  }
  &__button-products > .burger-modal__button-wrapper {
    background-color: var(--green-2);
    transition: .3s ease background-color;
  }
  &__button-products:hover > .burger-modal__button-text {
    background-color: var(--green-1);
  }
  &__button-products:hover > .burger-modal__button-wrapper {
    background-color: var(--green-1);
  }

  &__button-text {
    width: fit-content;
    height: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3rem;

    padding: 0 2rem;

    color: var(--black);

    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.15px;
  }

  &__button-wrapper {
    width: 4.7rem;
    height: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  &__button-icon {
    width: 1.5rem;
    height: auto;
    object-fit: cover;
  }
  
  &__bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    row-gap: 2rem;
  }
  
  &__number-link {
    color: rgb(255, 255, 255);
    font-family: 'PP Pangram Sans Rounded', sans-serif;
    font-size: var(--fz-h5);
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.16rem;
    text-align: left;
  }
  
  &__bottom-wrapper {
    display: flex;
    align-items: center;
    column-gap: .6rem;
  }
  
  &__mail-wrapper {
    cursor: pointer;
    padding: 1.2rem 2rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
    border-radius: 4rem;
    border: .15rem solid var(--white);

    transition: border .3s ease, background-color .3s ease;
    width: fit-content;

    &:hover {
      background-color: var(--grey);
      border: .15rem solid var(--grey);
    }
  }
  
  &__button-contact {
    width: fit-content;
    height: 4.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);

    color: var(--dark-green);
    font-family: 'Inter', sans-serif;
    font-size: var(--fz-i-t6);
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: -2%;
    text-align: center;
    padding: 1.2rem 3.7rem;
    border-radius: 3.4rem;
    transition: ease .3s background-color, ease .3s color;

    &:hover {
      background-color: var(--light-grey);
      color: var(--white);
    }
  }
}
