.features {
  margin-bottom: 2rem;

  @include breakpoint(tablet) {
    margin-bottom: 8rem;
  }

  &__content {
    padding: 6rem var(--content-padding-two) 0;
    width: 100%;
    background: var(--green-2);
    color: var(--black);
    border-radius: 3rem;

    @include breakpoint(tablet) {
      padding: 3.2rem 1rem;
    }
  }

  &__title {
    color: var(--black);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h2);
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -.3rem;

    @include breakpoint(tablet) {
      font-size: var(--fz-h6);
      letter-spacing: -.175rem;
    }
  }

  &__container {
    margin-top: 6rem;

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, minmax(0, .5fr));
      justify-content: center;
      margin-top: 0;
    }
  }

  &__column {
    @include breakpoint(tablet) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &:nth-child(1) {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
      @include breakpoint(tablet) {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
      }
    }
    &:nth-child(2) {
      grid-column: 2 / 4;
      grid-row: 5 / 5;
      display: flex;
      align-items: flex-end;
      margin-bottom: 2rem;
      @include breakpoint(tablet) {
        grid-column: 1 / 1;
        grid-row: 10 / 12;
        display: flex;
        align-items: center;
        position: relative;
      }
    }
    &:nth-child(3) {
      grid-column: 5 / 9;
      grid-row: 1 / 6;
      display: flex;
      align-items: center;
      @include breakpoint(tablet) {
        grid-column: 1 / 1;
        grid-row: 7 / 10;

      }
    }
    &:nth-child(4) {
      grid-column: 10 / 12;
      grid-row: 1 / 3;
      @include breakpoint(tablet) {
        grid-column: 1 / 1;
        grid-row: 4 / 5;
      }
    }
    &:nth-child(5) {
      grid-column: 10 / 12;
      grid-row: 4 / 6;
      @include breakpoint(tablet) {
        grid-column: 1 / 1;
        grid-row: 6 / 7;
      }
    }
  }

  &__card {
    @include breakpoint(tablet) {
      display: flex;
      align-items: flex-start;
      column-gap: 1.6rem;
    }

    svg {
      margin-bottom: 2rem;
    }
  }

  &__icon {
    svg {
      width: 4.8rem;
      height: 4.8rem;
    }
    margin-bottom: 4.8rem;
    @include breakpoint(tablet) {
      margin-bottom: 0;
      svg {
        width: 3.5rem;
        height: 4.8rem;
      }
    }
  }

  &__card-title {
    color: var(--black);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h6);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -.1rem;
    margin-bottom: 2rem;

    @include breakpoint(tablet) {
      font-size: var(--fz-i-t5);
      letter-spacing: -0.06rem;
      margin-bottom: .8rem;
    }
  }

  &__title-precent {
    color: var(--black);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h3);
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: -.16rem;

    @include breakpoint(tablet) {
      font-size: var(--fz-h5);
    }
  }

  &__text-precent {
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.015rem;

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
    }
  }

  &__card-text {
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.015rem;

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
    }
  }

  &__image-wrapper {
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 52rem;
    height: 52rem;
    position: relative;
    column-gap: 23px;
    white-space: nowrap;
    @include breakpoint(tablet) {
      width: 20rem;
      height: 20rem;
    }
  }

  &__image {
    object-fit: cover;
    width: 52rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include breakpoint(tablet) {
      width: 20rem;
      height: 20rem;
    }
  }
}