.industry {
  margin-top: 2rem;
  position: relative;
  min-height: max-content;

  @include breakpoint(tablet) {
    margin-top: 1rem;
    min-height: fit-content;
  }

  &__content {
    padding: 4rem 0;
    display: grid;
    align-content: flex-end;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    align-items: flex-end;
    overflow-x: hidden;

    @include breakpoint(tablet) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 4rem 0 2rem;
    }
  }

  &__video {
    @include overlayWidth;
    display: block;
    object-fit: cover;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-height: 100%;

    border-radius: 2rem;
  }

  &__title {
    color: var(--white);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h2);
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -3px;
    width: 100%;
    max-width: 63.5rem;

    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-left: 4rem;

    @include breakpoint(tablet) {
      font-size: var(--fz-h5);
      margin-bottom: 10.3rem;
      margin-left: var(--content-margin);
      letter-spacing: -1.75px;
    }

    @include breakpoint(mobile) {
      font-size: var(--fz-h6);
      max-width: 31.9rem;
    }
  }

  &__text {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t5);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;

    grid-column: 12 / -7;
    grid-row: 3 / 4;

    width: 100%;
    max-width: 38.5rem;

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      max-width: 20rem;
      margin-bottom: 5.5rem;
      margin-left: var(--content-margin);
    }
  }

  &__slider {
    grid-column: 1 / 13;
    grid-row: 4 / 7;
    counter-reset: industry-counter;
    width: 97.6%;
    margin-left: 4rem;

    @include breakpoint(laptop) {
      width: 100%;
      max-width: 52rem;
    }

    @include breakpoint(tablet) {

    }

    @include breakpoint(mobile) {
      max-width: 26.5rem;
    }

    @include breakpoint(tablet) {
      margin-left: var(--content-margin);
    }

    .swiper-slide {
      width: fit-content;
    }
  }

  &__slider-navigation {
    grid-column: 12 / 13;
    grid-row: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: .4rem;
    margin-right: 2rem;

    @include breakpoint(laptop) {
      display: none;
    }
  }

  &__slide {
    height: 26rem;
    position: relative;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #F0F3F5;
    counter-increment: industry-counter;

    display: flex;
    align-items: flex-start;
    overflow: hidden;

    width: 100%;
    max-width: 52rem;

    @include breakpoint(tablet) {
      min-width: 26.5rem;
      height: 26.5rem;
    }
  }

  &__counter {
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.15px;

    width: 4.7rem;
    height: 4.7rem;

    &::before {
      width: inherit;
      height: inherit;
      content: "0"counter(industry-counter)"";
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--green-2);
      border-radius: 50%;
    }
  }

  &__slider-name {
    display: flex;
    align-items: center;

    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.15px;

    width: 100%;
    height: 4.7rem;
    padding: 0 1.5rem;
    background-color: var(--white);
    border-radius: 3rem;

    @include breakpoint(mobile) {
      font-size: 1.2rem;
      letter-spacing: -0.24px;
      line-height: normal;
    }
  }

  &__slider-img {
    object-fit: cover;
    width: 110%;
    height: auto;
    position: absolute;
    max-width: 25.4rem;
    bottom: 0;

    right: 0;
    z-index: 0;

    @include breakpoint(small-tablet) {
      width: 100%;
      max-width: 20rem;
    }
  }
}