#map {
  width: 100%;
  height: 45.4rem;
  border-radius: 3rem;
  overflow: hidden;

  .ymaps-2-1-79-map-copyrights-promo {
    display: none;
  }

  .ymaps-2-1-79-copyright__wrap {
    display: none;
  }

  [class*="ground-pane"] {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
}