.modal {
  min-height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 100;
  visibility: hidden;

  &.hystmodal--active {
    opacity: 1;

    .modal__window {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.hystmodal--moved,
  &.hystmodal--active {
    pointer-events: auto;
    visibility: visible;
  }

  &__wrapper {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
      justify-content: flex-end;
    }
  }

  &__window {
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    background: var(--black);
    width: fit-content;
    padding: 2rem 2rem 4rem;
    border-radius: var(--base-border-radius);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    opacity: 0;
    border-radius: 2rem;

    @include breakpoint(mobile) {
      width: calc(100% - 3rem);
      margin: 1.5rem;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4.8rem;
    height: 4.8rem;
    transition: .3s ease opacity;

    &:hover {
      opacity: .6;
    }

    svg {
      width: 4.8rem;
      height: 4.8rem;

      @include breakpoint(tablet) {
        width: 3.8rem;
        height: 3.8rem;
      }
    }

    @include breakpoint(tablet) {
      width: 3.8rem;
      height: 3.8rem;
    }
  }
}

.hystmodal__opened {
  position: fixed;
  right: 0;
  left: 0;
}

.hystmodal__shadow {
  position: fixed;
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: rgba(0, 0, 0, .6);
}

.hystmodal__shadow--show {
  pointer-events: auto;
  opacity: 1;
}