.more {
  width: 100%;
  margin: 0 auto 13.5rem;
  overflow: hidden;
  position: relative;

  @include breakpoint(tablet) {
    margin: 0 auto 6rem;
  }

  &__content {
    position: relative;
    overflow: hidden;
    border-radius: 3rem;
  }

  &__slider-navigation {
    display: flex;
    align-items: center;
    position: absolute;
    right: 2rem;
    top: 2rem;
    column-gap: .4rem;
    z-index: 2;

    @include breakpoint(tablet) {
      top: auto;
      right: 1rem;
      bottom: 2rem;
    }
  }

  &__rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    z-index: 5;
    background-color: black;
  }

  &__slide {
    height: calc(100vh - 8.8rem);
    max-height: 86rem;
    position: relative;

    display: flex;
    padding: 3rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 3rem;

    @include breakpoint(laptop) {
      font-size: var(--fz-p-t2);
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      padding: 2rem;
    }

    @include breakpoint(tablet) {
      max-height: 54rem;
    }
  }

  &__slide-bottom-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__slide-title {
    color: var(--white);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h2);
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -0.3rem;
    width: 100%;
    max-width: 91.5rem;
    margin-bottom: 2rem;

    @include breakpoint(tablet) {
      font-size: var(--fz-h5);
      letter-spacing: -0.2rem;
      max-width: 31.9rem;
    }
  }

  &__slide-text {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t5);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 100%;
    max-width: 51.5rem;
    margin-bottom: 2rem;

    @include breakpoint(tablet) {
      margin-bottom: 4rem;
      font-family: "Inter", sans-serif;
    }
  }

  &__link-more {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.015rem;
    padding: 1.5rem;
    border-radius: 3rem;
    background-color: var(--green-2);
    transition: .3s ease background-color;

    &:hover {
      background-color: var(--green-1);
    }
  }

  &__slide-tags {
    display: flex;
    align-items: center;
  }

  &__slide-tag {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.3px;

    padding: 1.5rem 2.4rem;

    width: fit-content;
    border-radius: 3rem;
    border: .1rem solid rgba(255, 255, 255, 0.20);

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      padding: 1.2rem 1.2rem;
    }
  }

  &__slide-video {
    position: absolute;
    border-radius: 3rem;
    min-width: 100%;
    max-width: 164rem;
    object-fit: cover;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
