.multi-video-block {
  margin-bottom: 2rem;
  &__content {
    padding: var(--content-padding-two);
    @include breakpointMF(laptop) {
      min-height: calc(100vh - 8.8rem);
      min-height: calc(100svh - 8.8rem);
    }

    width: 100%;
    border-radius: 3rem;
    margin-top: 8.8rem;
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
      padding: 0;
    }
  }

  &__title {
    color: var(--white);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h1);
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -0.16rem;

    width: 100%;
    max-width: 76rem;

    @include breakpoint(tablet) {
      font-size: var(--fz-h5);
      font-weight: 400;
    }
  }

  &__wrapper-large {
    padding: var(--content-padding-two);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    border-radius: 3rem;
    transition: .4s ease height;

    .multi-video-block__button-controller {
      @include breakpointMF(laptop) {
        display: none;
      }
      display: flex;
    }

    @include breakpoint(tablet) {
      position: relative;
      width: 100%;
      padding: 1rem;
      height: 17rem;
    }
  }

  &__video-bottom-container {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    position: relative;
    z-index: 1;

    @include breakpoint(tablet) {
      flex-direction: column;
      justify-content: normal;
      align-items: flex-start;
      row-gap: 2rem;
      column-gap: 0;
      width: 100%;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all .3s ease;
  }

  &__wrapper-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__wrapper-bottom-title {
    color: var(--white);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h6);
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.1rem;
    cursor: pointer;
  }

  &__wrapper-bottom--large {
    position: relative;
    z-index: 1;

    @include breakpoint(tablet) {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__button-controller {
    min-width: 4.8rem;
    height: 4.8rem;
    border-radius: 4.8rem;
    background-color: var(--green-2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease;

    &:hover {
      background-color: var(--green-1);
    }

    img {
      width: 1.3rem;
      height: auto;
      object-fit: cover;

      @include breakpoint(tablet) {
        width: 1.2rem;
      }
    }

    @include breakpoint(tablet) {
      min-width: 4rem;
      height: 4rem;
    }
  }

  &__wrapper {
    width: 38.5rem;
    position: relative;
    border-radius: 3rem;
    padding: 1rem;
    overflow: hidden;
    height: 32rem;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    @include breakpoint(tablet) {
      width: 100%;
      height: 17rem;
    }

    &:hover {
      .multi-video-block__video {
        scale: 1.15;
      }
    }
  }

  .js-video-wrapper {
    @include breakpoint(tablet) {
      transition: .3s ease all;
      min-height: auto;
    }
  }

  .js-video-wrapper.--active {
    height: 57rem;
  }
}
