.process {
  margin-bottom: 2rem;
  position: relative;

  &__content {
    padding: var(--content-padding-two);
    border-radius: 3rem;

    @include breakpoint(tablet) {
      padding: 0;
    }
  }

  &__title {
    color: var(--white);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h2);
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -.3rem;
    width: 100%;
    max-width: 133rem;
    margin-bottom: 6rem;

    @include breakpoint(tablet) {
      font-size: var(--fz-h6);
      font-style: normal;
      line-height: 90%;
      letter-spacing: -.175rem;
      max-width: 31.7rem;
    }
  }

  &__slider {
    counter-set: process-counter;
    width: 100%;
    @include breakpoint(small-tablet) {
      max-width: 53rem;
    }

    .swiper-wrapper {
      @include breakpointMF(laptop) {
        display: grid;
        grid-template-columns: repeat(9, minmax(0, 1fr));
        grid-auto-rows: auto;
        row-gap: 2rem;
        column-gap: 2rem;
      }

      @include breakpointMF(tablet) {
        display: grid;
        grid-template-columns: repeat(9, minmax(0, 1fr));
        grid-auto-rows: auto;
        row-gap: 1rem;
        column-gap: 1rem;
      }
    }

    .swiper-slide {
      position: relative;
      width: 100%;
      border-radius: 2rem;
      height: 38rem;
      counter-increment: process-counter;

      @include breakpoint(tablet) {
        height: 26.5rem;
        max-width: 26.5rem;
      }
    }

    .swiper-slide:nth-child(1) {
      background-color: var(--grey);
      grid-column: 1 / 4;

      .process__slide-title {
        color: var(--white);
      }
      .process__slide-text {
        color: var(--white);
      }
    }

    .swiper-slide:nth-child(2) {
      background-color: var(--light-green);
      grid-column: 4 / 7;
    }

    .swiper-slide:nth-child(3) {
      background-color: var(--grey);
      grid-column: 4 / 7;
      grid-row: 2 / 2;

      .process__slide-title {
        color: var(--white);
      }
      .process__slide-text {
        color: var(--white);
      }
    }

    .swiper-slide:nth-child(4) {
      background-color: var(--green-2);
      grid-column: 7 / 10;
      grid-row: 2 / 2;
    }
  }

  &__slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
  }

  &__slide-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: -1;
    border-radius: 2rem;
  }

  &__slide-upper {
    display: flex;
    align-items: center;
  }

  &__slide-counter {
    &::before {
      content: "0"counter(process-counter)"";
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10rem;
      background: var(--white);
      width: 8rem;
      height: 8rem;
      position: relative;
      z-index: 1;

      color: var(--black);
      font-family: "PP Pangram Sans Rounded", sans-serif;
      font-size: var(--fz-p-t2);
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -.16rem;

      @include breakpoint(tablet) {
        width: 4.8rem;
        height: 4.8rem;
        font-size: var(--fz-i-t6);
        letter-spacing: 0;
        line-height: 0;
      }
    }
  }

  &__slide-icon-wrapper {
    border-radius: 10rem;
    width: 8rem;
    height: 8rem;
    border: 1px solid var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -2rem;

    @include breakpoint(tablet) {
      width: 4.8rem;
      height: 4.8rem;
      left: -.5rem;
    }
  }

  &__slide-icon {
    width: 1.9rem;
    height: 2.4rem;
    object-fit: contain;
  }

  &__slide-title {
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-p-t1);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -.1rem;
    width: 100%;

    @include breakpoint(laptop) {
      font-size: var(--fz-p-t3);
    }

    @include breakpoint(tablet) {
      font-size: var(--fz-i-t5);
      letter-spacing: 0;
    }
  }

  &__slide-text {
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.015rem;
    margin-top: 2rem;

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      letter-spacing: 0;
    }
  }

  &__overlay-image {
    width: 100%;
    max-width: 91.5rem;
    height: 91.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include breakpoint(tablet) {
      display: none;
    }
  }
}