.product {
  margin: 12.5rem var(--content-margin) 0;

  @include breakpoint(tablet) {
    margin: 7rem 1rem 0;
  }

  &__content {
    overflow-x: hidden;
  }

  &__title {
    color: var(--white);

    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h2);
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -3px;
    width: 100%;
    max-width: 70rem;
    margin-bottom: 6rem;

    @include breakpoint(tablet) {
      font-size: var(--fz-h6);
      line-height: 90%;
      letter-spacing: -1.75px;
      margin-bottom: 4rem;
    }
  }

  &__slider {
    width: 100%;

    @include breakpoint(laptop) {
      max-width: 52.4rem;
    }

    @include breakpoint(tablet) {
      max-width: 27.5rem;
    }
  }

  &__slide {
    display: block;
    width: 100%;
    max-width: 52.4rem;
    height: 55.6rem;
    position: relative;
    border-radius: 3rem;
    overflow: hidden;

    @include breakpoint(tablet) {
      max-width: 27.5rem;
      height: 28rem;
    }
  }

  &__slide-title {
    position: absolute;
    z-index: 2;

    color: var(--black);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h5);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1px;
    width: 100%;
    max-width: 44rem;
    top: 2rem;
    left: 2rem;
    transition: .25s ease color, .25s ease opacity;

    @include breakpoint(tablet) {
      font-size: var(--fz-i-t5);
      line-height: 110%;
      max-width: 23.5rem;
      font-weight: 600;
      left: 1rem;
      margin-top: 6.7rem;
    }
  }

  &__slide:hover &__slide-title {
    color: var(--white);

    @include breakpoint(tablet) {
      opacity: 0;
    }
  }

  &__slide-current {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--white);
    z-index: 0;
    transition: .25s ease opacity;
  }

  &__slide:hover &__slide-current {
    opacity: 0;
  }

  &__slide-current-image {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    right: 0;
    width: 75%;
    height: auto;
    object-fit: cover;

    @include breakpoint(tablet) {
      transform: translateY(0);
      top: 55%;
      right: -2rem;
    }
  }

  &__slide-hover {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;

    @include breakpoint(tablet) {
      padding: 2.5rem  1rem;
      justify-content: flex-start;
    }
  }

  &__slide-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__slide-hover-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.6rem;
    margin-top: 5.1rem;

    @include breakpoint(tablet) {
      margin-top: 0;
    }
  }

  &__slide-hover-info {
    display: flex;
    align-items: flex-start;
    column-gap: 2rem;

    @include breakpoint(tablet) {
      column-gap: 1rem;
    }
  }

  &__slide-hover-icon {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: cover;
  }

  &__slide-hover-column {
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
  }

  &__slide-hover-info-title {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t5);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 120%;
    }
  }

  &__slide-hover-info-text {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t5);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__slide-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;

    @include breakpoint(tablet) {
      display: flex;
      justify-content: flex-start;
      left: 1rem;
      bottom: 1rem;
    }
  }

  &__slide-bottom-tag {
    padding: 1.5rem;
    border-radius: 3rem;
    border: .15rem solid var(--black);
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    transition: opacity .25s ease;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 1;

    @include breakpoint(tablet) {
      position: absolute;
      top: 1rem;
      left: 1rem;
      height: 4.3rem;
      padding: 1.2rem 1.5rem;

      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: -0.39px;
    }
  }

  &__slide:hover > &__slide-bottom-tag  {
    opacity: 0;
  }

  &__slide-bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 4.7rem;
    height: 4.7rem;
    background-color: var(--green-2);
    border-radius: 3rem;
    transition: .35s ease background-color, .35s ease width, 0s ease border-radius;
    transition-delay: 0s, 0s, 0s;

    @include breakpoint(tablet) {
      width: 4rem;
      height: 4rem;
      justify-content: flex-end;
      padding-right: 1.35rem;
    }

    &::before {
      content: ''attr(data-text)'';
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      background-color: var(--green-2);
      padding: 1.5rem;
      height: 4.8rem;
      width: 4.8rem;

      color: rgba(255, 255, 255, 0);
      font-family: "Inter", sans-serif;
      font-size: var(--fz-i-t6);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.3px;
      border-radius: 3rem;
      z-index: 0;
      right: 0;
      transition: transform .55s
                  ease, width .55s ease,
                  color .25s ease,
                  background-color .35s ease;
      transition-delay: 0s, 0s, 0s, 0s;

      @include breakpoint(tablet) {
        opacity: 0;
        width: fit-content;
        padding: 0;
        border-radius: 3rem;
        height: 4rem;
        left: 5.5rem;
        font-weight: 500;
      }
    }
  }

  &__slide:hover &__slide-bottom > &__slide-bottom-wrapper {
    &::before {
      transition: transform .55s ease,
                  width .55s ease,
                  color .2s ease,
                  background-color .35s ease;
      transition-delay: 0s, 0s, 0.2s, 0s;
      color: var(--black);
      width: 11.7rem;
      transform: translateX(-4.15rem);

      @include breakpoint(tablet) {
        opacity: 1;
        width: fit-content;
        padding: 0;
      }
    }

    @include breakpoint(tablet) {
      width: 100%;
      border-radius: 3rem;

      transition: .35s ease background-color, .35s ease width, 0s ease border-radius;
    }
  }

  &__slide-bottom-wrapper:hover {
    background-color: var(--green-1);
    &::before {
      background-color: var(--green-1);
    }
  }

  &__slide-bottom-link-icon {
    width: 1.5rem;
    height: 1.1rem;
    object-fit: cover;
    position: relative;
    z-index: 1;

    @include breakpoint(tablet) {
      width: 1.1rem;
    }
  }
}