.tags {
  @include breakpoint(tablet) {
    width: fit-content;
    max-width: 50%;
  }
  .swiper-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;

    @include breakpoint(tablet) {
      margin-bottom: 1.5rem;
      margin-left: var(--content-margin);
      overflow: visible;
    }
  }

  .swiper-slide {
    width: fit-content;
  }

  &__slide {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.3px;

    padding: 1.5rem 2.4rem;

    width: fit-content;
    border-radius: 3rem;
    border: .1rem solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(8.5px);

    @include breakpoint(tablet) {
      font-size: 1.3rem;
      padding: 1.2rem 1.6rem;
    }
  }
}