@font-face {
  font-family: "PP Pangram Sans Rounded";
  src: url("../assets/fonts/PPPangramSansRounded-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "PP Pangram Sans Rounded";
  src: url("../assets/fonts/PPPangramSansRounded-Semibold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}