.products-intro {
  margin-top: 8.8rem;
  position: relative;

  &__overlay {
    @include overlayWidth;

    background-image: url("../assets/img/products-intro-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 3rem;
    position: absolute;
    z-index: -1;
  }

  &__content {
    min-height: calc(100vh - 11.5rem);
    padding-bottom: 2rem;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    @include breakpoint(tablet) {
      justify-content: space-between;
      padding-top: 2rem;
      min-height: auto;
    }
  }

  &__title {
    color: var(--light-green);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h1);
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -1.6px;
    margin-left: var(--content-margin);
    margin-bottom: 6rem;

    @include breakpoint(tablet) {
      font-size: var(--fz-h5);
      line-height: 90%;
      letter-spacing: -1.6px;
      margin-bottom: 14.7rem;
      margin-left: 1rem;
    }
  }

  &__slider {
    width: 81%;
    margin-left: var(--content-margin);
    position: relative;

    @include breakpoint(laptop) {
      width: 100%;
      max-width: 65.5rem;
    }

    @include breakpoint(tablet) {
      min-width: 52.5rem;
      margin-left: 1rem;
    }

    .swiper-wrapper {

      @include breakpoint(tablet) {
        column-gap: 0;
      }
    }
  }

  &__slider-navigation {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    right: var(--content-margin);
    bottom: 10rem;
    column-gap: .4rem;

    @include breakpoint(laptop) {
      display: none;
    }
  }

  &__slide {
    position: relative;
    width: calc(100% - 20px);
    max-width: 65.5rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 3rem;
    cursor: pointer;
    display: block;
    margin-right: 20px;

    @include breakpoint(tablet) {
      min-width: 52.5rem;
      height: 30.8rem;
    }
  }

  &__slide-main {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--white);
    padding: 2rem;
    transition: opacity .25s ease;

    @include breakpoint(tablet) {
      transition: opacity 0s ease;
    }
  }

  &__slide:hover &__slide-main  {
    opacity: 0;

    @include breakpoint(tablet) {
      opacity: 1;
    }
  }

  &__slide-main-image {
    position: absolute;
    height: auto;
    object-fit: cover;
    width: 50%;
    top: 50%;
    transform: translateY(-60%);
    right: -2rem;
    z-index: 0;

    @include breakpoint(tablet) {
      left: 0;
      width: 65%;
      -webkit-transform: scaleX(-1);
      bottom: 0;
      transform: scaleX(-1) translateY(2.5rem);
    }

    @include breakpoint(small-mobile) {
      width: calc(62vw - 21px);
      transform: scaleX(-1) translateY(4.5rem);
    }
  }

  &__slide-main-title {
    color: var(--black);
    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: var(--fz-h5);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1px;
    width: 100%;
    max-width: 40rem;
    position: relative;
    z-index: 1;

    @include breakpoint(tablet) {
      font-size: var(--fz-p-t2);
      line-height: 110%;
      letter-spacing: -1px;
      max-width: 17.5rem;
      margin-top: 5.5rem;
    }
  }

  &__slide-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 2rem;

    @include breakpoint(tablet) {
      z-index: 1;
    }
  }

  &__slide-hover-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: 100%;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__slide-hover-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 2.4rem;

    @include breakpoint(tablet) {
      position: absolute;
      z-index: 1;
      left: 23rem;
      top: 1.5rem;
      width: calc(100% - 23rem - 20px);
    }
  }

  &__slide-list-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @include breakpoint(tablet) {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  &__slide-list-name {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    img {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: cover;

      @include breakpoint(tablet) {
        display: none;
      }
    }
    p {
      color: var(--white);
      font-family: "Inter", sans-serif;
      font-size: var(--fz-i-t5);
      font-style: normal;
      font-weight: 700;
      line-height: 120%;

      @include breakpoint(tablet) {
        color: var(--black);
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        z-index: 1;
      }
    }
  }

  &__slide-list-text {
    color: var(--white);

    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t5);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    width: 100%;
    max-width: 32.7rem;

    @include breakpoint(tablet) {
      color: var(--black);
      font-family: "Inter", sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 120%;
      max-width: 21.5rem;
    }
  }

  &__slide-bottom {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    left: 2rem;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint(small-mobile) {
      left: calc(23rem + 167px);
      justify-content: start;
    }
  }

  &__slide-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;

    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: var(--fz-i-t6);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;

    border: .15rem solid var(--black);
    padding: 1.5rem;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    transition: opacity .55s ease;
    transition-delay: .45s;
    height: 4.8rem;

    @include breakpoint(tablet) {
      top: 1.5rem;
      left: 1.5rem;
      height: 4rem;
    }
    @include breakpoint(small-mobile) {
      max-width: 20rem;
    }
  }

  &__slide:hover &__slide-tag  {
    opacity: 0;
    transition: opacity .25s ease;
    transition-delay: 0s;

    @include breakpoint(tablet) {
      opacity: 1;
      transition: opacity 0s ease;
    }
  }

  &__slide-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--green-2);
    border-radius: 50%;

    &::before {
      content: "Подробнее";
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 4.8rem;
      height: 4.8rem;
      bottom: 0;
      right: 0;
      position: absolute;
      padding-left: 1.75rem;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 3rem;
      background-color: var(--green-2);

      font-family: "Inter", sans-serif;
      font-size: var(--fz-i-t6);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.15px;

      transition: width .55s ease,
                  color .25s ease,
                  0.3s ease background-color;
      color: rgba(255, 255, 255, 0);

      @include breakpoint(tablet) {
        width: 21.5rem;
        color: var(--black);
        transition: width 0s ease,
                    color 0s ease,
                    0s ease background-color;
        transition-delay: 0s, 0s, 0s;
      }
    }

    &:hover::before {
      background-color: var(--green-1);
    }

    @include breakpoint(small-mobile) {
      position: relative;
    }

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1.75rem;
    }
  }

  &__slide:hover &__slide-bottom > &__slide-link  {
    &::before {
      width: 100%;
      color: var(--black);
      transition: width .55s ease,
                  color .55s ease,
                  0.3s ease background-color;

      transition-delay: 0s, .55s, 0s;

      @include breakpoint(tablet) {
        width: 21.5rem;
        transition: width 0s ease,
                    color 0s ease,
                    0s ease background-color;

        transition-delay: 0s, 0s, 0s;
      }
    }
  }
}