mixin features()
  section.features
    .container
      .features__content.js-scroll-video-container
        h2.features__title &Pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy;
        ul.features__container
          li.features__column
            .features__card
              svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                path(d='M20 46.6534C9.20421 44.7602 1 35.3382 1 24C1 11.2975 11.2975 1 24 1C36.7025 1 47 11.2975 47 24C47 35.3382 38.7958 44.7602 28 46.6534' stroke='black' stroke-width='2')
                path(d='M24 48L24 30.5' stroke='black' stroke-width='2')
                path(d='M34 27.4211C34 32.7114 29.5228 37 24 37C18.4772 37 14 32.7114 14 27.4211C14 22.1307 24 11 24 11C24 11 34 22.1307 34 27.4211Z' stroke='black' stroke-width='2')
              .features__text-block
                h3.features__card-title
                  | &Vcy;&ycy;&scy;&shcy;&icy;&jcy; &ecy;&kcy;&ocy;&lcy;&ocy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &scy;&tcy;&acy;&ncy;&dcy;&acy;&rcy;&tcy;
                p.features__card-text
                  | &Gcy;&lcy;&acy;&vcy;&ncy;&ocy;&iecy; &mdash; &dcy;&acy;&tcy;&softcy; &ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &kcy;&acy;&kcy;&ocy;&gcy;&ocy;-&lcy;&icy;&bcy;&ocy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&acy;, &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&acy; &icy;&lcy;&icy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy;
          li.features__column
            .features__card
              .features__text-block
                h3.features__card-title.features__title-precent
                  | &gt;50%
                p.features__card-text.features__text-precent
                  | C&ycy;&rcy;&softcy;&yacy; &pcy;&ocy;&scy;&tcy;&ucy;&pcy;&acy;&iecy;&tcy; &icy;&zcy;&nbsp;&vcy;&ocy;&zcy;&ocy;&bcy;&ncy;&ocy;&vcy;&lcy;&yacy;&iecy;&mcy;&ycy;&khcy; &icy;&scy;&tcy;&ocy;&chcy;&ncy;&icy;&kcy;&ocy;&vcy;
          li.features__column
            .features__image-wrapper
              video(playsinline="true" webkit-playsinline="true" preload="auto" muted="muted").features__video.js-video-background
                source(src="assets/video/video-logo.mp4" type="video/mp4")
              div#container
          li.features__column
            .features__card
              svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                path(d='M15.7969 12C17.8965 5.61214 23.9097 1 31.0001 1C39.8367 1 47.0001 8.16344 47.0001 17C47.0001 24.0904 42.388 30.1037 36.0001 32.2032' stroke='black' stroke-width='2')
                circle(cx='17' cy='31' r='16' stroke='black' stroke-width='2')
                path(d='M17 24V38' stroke='black' stroke-width='2')
                path(d='M10 31L17 38L24 31' stroke='black' stroke-width='2')
              .features__text-block
                h3.features__card-title
                  | &Ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ycy;&iecy; &khcy;&acy;&rcy;&acy;&kcy;&tcy;&iecy;&rcy;&icy;&scy;&tcy;&icy;&kcy;&icy;
                p.features__card-text
                  | &Gcy;&lcy;&acy;&vcy;&ncy;&ocy;&iecy; &mdash; &dcy;&acy;&tcy;&softcy; &ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &kcy;&acy;&kcy;&ocy;&gcy;&ocy;-&lcy;&icy;&bcy;&ocy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&acy;, &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&acy; &icy;&lcy;&icy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy;
          li.features__column
            .features__card
              svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                path(d='M37 25V1H1V47H28' stroke='black' stroke-width='2')
                path(d='M10 16H28' stroke='black' stroke-width='2')
                path(d='M10 24H28' stroke='black' stroke-width='2')
                path(d='M10 32H19' stroke='black' stroke-width='2')
                path(d='M36.9049 28.2923C36.9349 28.2003 37.0651 28.2003 37.0951 28.2923L39.3607 35.2574H46.692C46.7889 35.2574 46.8291 35.3814 46.7507 35.4383L40.8197 39.7426L43.0852 46.7074C43.1151 46.7995 43.0097 46.8762 42.9313 46.8193L37 42.5147L31.0687 46.8193C30.9903 46.8762 30.8849 46.7995 30.9148 46.7074L33.1803 39.7426L27.2493 35.4383C27.1709 35.3814 27.2111 35.2574 27.308 35.2574H34.6393L36.9049 28.2923Z' stroke='black' stroke-width='2')
              .features__text-block
                h3.features__card-title
                  | &Ncy;&icy;&zcy;&kcy;&acy;&yacy;
                  | &scy;&iecy;&bcy;&iecy;&scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy;
                p.features__card-text
                  | &Gcy;&lcy;&acy;&vcy;&ncy;&ocy;&iecy; &mdash; &dcy;&acy;&tcy;&softcy; &ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &kcy;&acy;&kcy;&ocy;&gcy;&ocy;-&lcy;&icy;&bcy;&ocy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&acy;, &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&acy; &icy;&lcy;&icy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy;

