mixin info-board(imgSrc, text)
  section.info-board
    .container
      .info-board__content
        .info-board__circle
          img(src=imgSrc alt="icon")
        .text-wrapper
          p.info-board__text= text
