mixin slider-hover(data)
  section.slider-hover
    .container
      .slider-hover__content
        h2.slider-hover__title= data.title
        if(data.text)
          .slider-hover__info
            p.slider-hover__info-text= data.text
        .slider-hover__navigation.js-navigation
          button.slider-navigation-button.slider-navigation-button--black.js-prev
            img(src="assets/icons/arrow-left-black.svg" alt="icon")
          button.slider-navigation-button.slider-navigation-button--black.js-next
            img(src="assets/icons/arrow-right-black.svg" alt="icon")
        .slider-hover__slider.js-init-slider(data-perview="4")
          .swiper-wrapper
            each slide in data.sliders
              .swiper-slide
                .slider-hover__slide
                  img(alt="slide image" src=slide.imgSrc).slider-hover__slide-image
                  .slider-hover__slide-info
                    span.slider-hover__slide-counter
                    .slider-hover__slide-wrapper-text
                      p.slider-hover__slide-text= slide.text