mixin tags(data)
  .tags.js-init-slider(data-slider-mobile="true")
    .swiper-wrapper
      each tag in data
        .swiper-slide
          a.tags__slide.js-anchor(href=`#to-` + tag.block_id) #{tag.name}