extends ../layout/index
include ../parts/tags

block constants 
  - const title = "Hello world"

block page 
  div.container
    h1.intro__title Main page
    img(src="assets/img/number.png" alt="image")
      
