extends ../layout/index
include ../components/product
include ../components/product-hover

block constants
  - const title = "Продукция"

block page
  +products-hover(products.product_hover)
  +product(products.product)


