extends ../layout/index
include ../components/product

block constants
  - const title = "Продукция"
  - const barbaNamespace = "products"

block page
  section.products-intro
    .container
      .products-intro__overlay
      .products-intro__content
        h1.products-intro__title Продукция
        .products-intro__slider-navigation.js-navigation
          button.slider-navigation-button.js-prev
            img(src="assets/icons/left-white-arrow.svg" alt="icon")
          button.slider-navigation-button.js-next
            img(src="assets/icons/right-white-arrow.svg" alt="icon")
        div(
          class="products-intro__slider js-init-slider"
          data-perview="2"
          data-navigationlimit="2"
          data-mobileloop="true")
          .swiper-wrapper
            .swiper-slide
              .products-intro__slide
                .products-intro__slide-main
                  img(src="assets/img/eco-reg.png" alt="slide-image").products-intro__slide-main-image
                  h3.products-intro__slide-main-title Эффективное и&nbsp;экологичнное решение
                .products-intro__slide-hover
                  img(src="assets/img/eco-reg-hover.png" alt="slide-image").products-intro__slide-hover-image
                  ul.products-intro__slide-hover-list
                    li.products-intro__slide-list-info
                      .products-intro__slide-list-name
                        img(src="assets/icons/advantages.svg" alt="icon")
                        p
                          strong Преимущества:
                      p.products-intro__slide-list-text выдерживают большие нагрузки, не&nbsp;гниют и&nbsp;не&nbsp;ржавеют
                    li.products-intro__slide-list-info
                      .products-intro__slide-list-name
                        img(src="assets/icons/purpose.svg" alt="icon")
                        p
                          strong Назначение:
                      p.products-intro__slide-list-text оснащение парков, дворов, прогулочных зон
                    li.products-intro__slide-list-info
                      .products-intro__slide-list-name
                        img(src="assets/icons/calendar.svg" alt="icon")
                        p
                          strong Сроки изготовления:
                      p.products-intro__slide-list-text по согласованию
                span.products-intro__slide-tag Скамейки
                .products-intro__slide-bottom
                  a(href="/#").products-intro__slide-link
                    img(src="assets/icons/arrow-right-black.svg" alt="icon")
            .swiper-slide
              .products-intro__slide
                .products-intro__slide-main
                  img(src="assets/img/coverage.png" alt="slide-image").products-intro__slide-main-image
                  h3.products-intro__slide-main-title Инновационный подход к&nbsp;уличному освещению
                .products-intro__slide-hover
                  img(src="assets/img/coverage-hover.png" alt="slide-image").products-intro__slide-hover-image
                  ul.products-intro__slide-hover-list
                    li.products-intro__slide-list-info
                      .products-intro__slide-list-name
                        img(src="assets/icons/advantages.svg" alt="icon")
                        p
                          strong Преимущества:
                      p.products-intro__slide-list-text прочные, долговечные, требуют минимального техобслуживания
                    li.products-intro__slide-list-info
                      .products-intro__slide-list-name
                        img(src="assets/icons/purpose.svg" alt="icon")
                        p
                          strong Назначение:
                      p.products-intro__slide-list-text освещение дорог, парков, жилых кварталов, дворов
                    li.products-intro__slide-list-info
                      .products-intro__slide-list-name
                        img(src="assets/icons/calendar.svg" alt="icon")
                        p
                          strong Сроки изготовления:
                      p.products-intro__slide-list-text по согласованию
                span.products-intro__slide-tag Опоры и&nbsp освещения
                .products-intro__slide-bottom
                  a(href="/#").products-intro__slide-link
                    img(src="assets/icons/arrow-right-black.svg" alt="icon")
            .swiper-slide
              .products-intro__slide
                .products-intro__slide-main
                  img(src="assets/img/board.png" alt="slide-image").products-intro__slide-main-image
                  h3.products-intro__slide-main-title Идеальный выбор для открытых зон
                .products-intro__slide-hover
                  img(src="assets/img/board-hover.png" alt="slide-image").products-intro__slide-hover-image
                  ul.products-intro__slide-hover-list
                    li.products-intro__slide-list-info
                      .products-intro__slide-list-name
                        img(src="assets/icons/advantages.svg" alt="icon")
                        p
                          strong Преимущества:
                      p.products-intro__slide-list-text материал не&nbsp;мокнет, не&nbsp;деформируется, не&nbsp;требует ухода
                    li.products-intro__slide-list-info
                      .products-intro__slide-list-name
                        img(src="assets/icons/purpose.svg" alt="icon")
                        p
                          strong Назначение:
                      p.products-intro__slide-list-text
                        | устройство настилов террас,
                        | балконов, парковых дорожек,
                        | зон отдыха
                    li.products-intro__slide-list-info
                      .products-intro__slide-list-name
                        img(src="assets/icons/calendar.svg" alt="icon")
                        p
                          strong Сроки изготовления:
                      p.products-intro__slide-list-text по согласованию
                span.products-intro__slide-tag Террасная доска
                .products-intro__slide-bottom
                  a(href="/#").products-intro__slide-link
                    img(src="assets/icons/arrow-right-black.svg" alt="icon")


  each product in products.product
    +product(product)


