extends ../layout/index

include ../components/multi-video-block
include ../components/scroll-slider
include ../components/decisions
include ../components/advantages
include ../components/slider-hover
include ../components/info-block

block constants
  - const title = "Технологии"
  - const description = "Страница технология"

block page
  +multi-video-block(
    technologies.multiVideoBlock
  )
  +scroll-slider(
    technologies.scrollSlider.tag,
    technologies.scrollSlider.title,
    technologies.scrollSlider.sliders
  )
  +decisions(
    technologies.decisions.title,
    technologies.decisions.sliders
  )
  +advantages(
    technologies.advantages.sliders
  )
  +slider-hover(
    technologies.sliderHover
  )
  +info-block(
    technologies.infoBlock.title,
    technologies.infoBlock.list
  )