extends ../layout/index

include ../components/multi-video-block
include ../components/scroll-slider
include ../components/decisions

block constants
  - const title = "Технологии"

block page
  +multi-video-block(technologies.multiVideoBlock)
  +scroll-slider(
    technologies.scrollSlider.tag,
    technologies.scrollSlider.title,
    technologies.scrollSlider.sliders
  )
  +decisions(
    technologies.decisions.title,
    technologies.decisions.sliders
  )