.burger-modal.js-burger-modal
  .container
    nav.burger-modal__nav
      .text-wrapper
        a(href="/#").burger-modal__nav-link Производство
      .text-wrapper
        a(href="/#").burger-modal__nav-link Решения для отраслей
      .text-wrapper
        a(href="/#").burger-modal__nav-link Контакты
      .text-wrapper
        a(href="/#").burger-modal__nav-link Связаться
    .text-wrapper.burger-modal__button-products-wrapper
      a(href="/#" data-swup-preload).burger-modal__button-products
        div.burger-modal__button-text Продукция
        .burger-modal__button-wrapper 
          img(src="assets/icons/arrow-right-black.svg" alt="icon").burger-modal__button-icon

    .burger-modal__bottom 
      a(href="tel:+78009995999").burger-modal__number-link 8 800 999-59-99
      .burger-modal__bottom-wrapper
        a(href="/#").burger-modal__mail-wrapper
          img(src="assets/icons/email.svg" alt="icon").burger-modal__mail-icon
          | mail@bio.ru
        button.burger-modal__button-contact Связаться
          