header.header
  .header__content
    .header__left-column
      a(href="/").header__logo-wrapper
        img(src="assets/icons/logo.svg" alt="logotype").header__logo
      a(href="/#").header__button-lang En
    a(href="/#").header__button-products
      div.header__button-text Продукция
      .header__button-wrapper 
        img(src="assets/icons/arrow-right-black.svg" alt="icon").header__button-icon
    .header__right-column
      nav.header__navigation
        a(href="/technologies.html").header__link Производство
        a(href="/#").header__link Решения для отраслей
        a(href="/#").header__link Контакты

      button(data-modal="#modal-contact").header__button-contact
        span.header__button-text Связаться
        .header__button-wrapper
          include ../../assets/icons/sms.svg
    button.header__burger-button
      span
      span
      span



    