.intro {
  position: relative;
  height: 100vh;
  overflow-x: hidden;

  &__content {
    padding-bottom: 1rem;
    width: 100%;
    height: calc(100vh - 2rem);

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow-x: hidden;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 6.5rem;

    @include breakpoint(tablet) {
      row-gap: 4rem;
    }
  }

  &__overlay {
    @include overlayWidth;

    background-image: url("../assets/img/intro-solution.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;

    top: 9rem;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: 0;
    height: calc(100vh - 10rem);
    z-index: -1;

    border-radius: 2rem;

    @include breakpoint(tablet) {
      top: 7rem;
      height: calc(100vh - 8rem);
    }
  }

  &__title {
    color: #F1F5E4;

    font-family: "PP Pangram Sans Rounded", sans-serif;
    font-size: 10rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -1.6px;

    width: 100%;
    max-width: 64.1rem;

    @include breakpoint(tablet) {
      font-family: "PP Pangram Sans Rounded", sans-serif;
      font-size: var(--fz-h3);
      font-style: normal;
      line-height: 90%;
      letter-spacing: -1.6px;

      margin-left: var(--content-margin);
    }

    @include breakpoint(mobile) {
      font-family: "PP Pangram Sans Rounded", sans-serif;
      font-size: var(--fz-h5);
      font-style: normal;
      line-height: 90%;
      letter-spacing: -1.6px;
      max-width: 31.9rem;
    }
  }
}