@import '../../node_modules/swiper/modules/effect-fade';

@import "utils/reset";
@import "utils/fontface";
@import "utils/mixins";
@import "utils/variables";
@import "utils/fontface";
@import "utils/global";

@import "components/modal";
@import "components/modal-contact";
@import "components/modal-success";
@import "components/modal-error";

@import "components/loader";
@import "components/header";
@import "components/footer";
@import "components/navigationButtons";
@import "components/tags";
@import "components/industry";
@import "components/map";
@import "components/product";
@import "components/notification";
@import "components/infoBoard";
@import "components/slider";
@import "components/sliderMediaFull";
@import "components/sliderDigits";
@import "components/simpleSlider";
@import "components/multiVideoBlock";
@import "components/scrollSlider";
@import "components/decisions";
@import "components/advantages";
@import "components/sliderHover";
@import "components/infoBlock";
@import "components/multiTitleBlock";
@import "components/about";
@import "components/features";
@import "components/process";
@import "components/more";
@import "components/partners";

@import "pages/solutions/intro";
@import "pages/contacts/contacts";
@import "pages/products/intro";
@import "pages/notFound/notFound";
@import "pages/detailProduct/intro";
